.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.food-vs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App h2 {
  margin: 0 10px; /* Adjusts spacing between items */
}
