.leaderboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.leaderboard-title {
  text-align: center;
}

.leaderboard-table {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}

.leaderboard-table th,
.leaderboard-table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.leaderboard-table th {
  border-bottom: 2px solid #ddd;
}
